body, html {
    height: 100%;
}

.bg {
    background-image: url('/static/images/bgimage.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
#third {
    background: url("/static/images/bgimage.jpg") 50% 0 no-repeat fixed;

    height: 650px;
    padding: 100px 0 0 0;


}*/
