html{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: black;
color: white;
}
/*
.cover{
background-color: rgba(0, 0, 0, 0.5);


   position: absolute;
   top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}*/
.logo{
margin-left:50%;
}
form{
text-align: center;
padding: 50px;
}
.input_name{
border-radius: 10px;
border: 2px solid red;
width: 250px;
height: 25px;
margin-bottom: 10px;
}

label{
color: white;
}
.submit_btn{
background-color: #f703ce;
border: none;
border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background:#0d7963; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
ul.nav li {
    border-right:1px solid #189b80; /* you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:#ccece6;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:#086754;
}

.pop_img{
    /*position: absolute;*/
    display: block;
    max-width: 350px;
    max-height: 250px;
    width: auto;
    height: auto;
    
}


.popular_movies{
    box-sizing: border-box;
    text-align: center;
}

.column{
    float:left;
    /*width: 25%;*/
    padding: 0 15px;
}

.row{
    margin: 0 10px;
    
}

.card {
    box-shadow: 0 2px 2px 0 rgba(116, 3, 3, 0.2); 
    padding: 2px;
    text-align: center;
    background-color: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  #image_div .img_wrapper
  {
   
   position:relative;
   display:inline-block;
  }
  #image_div .img_wrapper img
  {
   width:100%;
  }
  #image_div .img_wrapper:hover img
  {
   -webkit-filter: blur(1px);
  }
  #image_div .img_wrapper span
  {
   display:none;
   position:absolute;
   top:70px;
   left:10px;
  }
  #image_div .img_wrapper:hover span
  {
   display:table-cell;
  }

  #image_div .img_wrapper span a:link, #image_div .img_wrapper span a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
  #image_div .img_wrapper span a:hover, #image_div .img_wrapper span a:active {
    background-color: green;
    color: white;
    border-radius: 10px;
  }

.searched{
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 400px;
  text-align: left;
  padding: 20px;

}



.recommendation{
  box-sizing: border-box;
  text-align: center;
  margin-top: 100px;
}

  .s_img{
    float: left;
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding-right: 10px;
  }