
{% extends "base.html" %}

{% block body %}
<h1>Movie Recommendor</h1>

<form action="{% url 'result' %}">
    {% csrf_token %}
    <!--<p>last Movie you watched:</p>
    <input type="text" name="watched">
    <br>-->
    <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Last movie you watched</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="watched">
</div>
    <input type="submit" value="Movie List">



</form>

{% endblock %}
