
{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
{% endblock %}
{% block body %}
<!--<h1 style="color:blue">Movie Recommendor</h1>-->



<form action="{% url 'result' %}">
    {% csrf_token %}

    <label for="watched">Enter a movie name:</label>
    <input type="text" name="watched" class="input_name">
    <br>
    <!--<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Last movie you watched</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="watched">
</div>-->
    <input type="submit" value="Search" class="submit_btn">



</form>

<div class="popular_movies">
<h3>Popular Movies:</h3>
{% for movies in popular %}
<div id="wrapper">
  <div class="row">
  <div class="column">
    <div class="card">
      <div id="image_div">
        <p class="img_wrapper">
      <img src={{movies.poster}} class="pop_img">
      <span><a href="{% url 'seemore' movies.title %}">{{movies.title}}</a></span>
      <!--<span><input type="button" href="{% url 'seemore' movies.title %}" value={{movies.title}}></span>-->
     
</p>
    </div></div>
  </div>
  </div>

</div>
  {% endfor %}
</div>

{% endblock %}
